/* ============================== */
/* BASE */
/* ============================== */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;800&display=swap");

:root {
  --dark-gray: #212529;
  --medium-gray: #868e96;
  --light-gray: #f8f9fa;
}

::selection {
  background-color: var(--medium-gray);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

/* ============================== */
/* ERROR MESSAGE */
/* ============================== */

.error-message {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============================== */
/* UTILITIES */
/* ============================== */

.u-container {
  max-width: 120rem;
  margin: 0 auto;
}

.u-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

/* ============================== */
/* TYPOGRAPHY */
/* ============================== */
.heading-primary {
  font-size: 3.2rem;
}

.heading-secondary {
  font-size: 2.4rem;
}

/* ============================== */
/* NAVIGATION */
/* ============================== */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
}

.navigation__list {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.navigation__link:link,
.navigation__link:visited {
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
}

.navigation__link:hover,
.navigation__link:active {
  border-bottom: 2px solid currentColor;
}

/* ============================== */
/* SECTION HERO */
/* ============================== */

.hero__ctas {
  display: flex;
  gap: 2.4rem;
}

.hero-cta:link,
.hero-cta:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 100px;
  transition: all 0.3s;
}

.hero-cta--solid:link,
.hero-cta--solid:visited {
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

.hero-cta--solid:hover,
.hero-cta--solid:active {
  background-color: var(--medium-gray);
}

.hero-cta--outlined:link,
.hero-cta--outlined:visited {
  box-shadow: 0 0 0 1px inset var(--light-gray);
  color: var(--light-gray);
}

.hero-cta--outlined:hover,
.hero-cta--outlined:active {
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

/* ============================== */
/* SECTION PROJECTS */
/* ============================== */

.projects__list {
  list-style: none;
}

.projects__item {
  font-weight: 600;
}

.projects__description {
  color: var(--medium-gray);
}

/* ============================== */
/* FORM */
/* ============================== */

.form__label {
  font-weight: 600;
  display: block;
}

.form__input {
  font-family: inherit;
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 8px;
}

.form__input:focus {
  outline: none;
  border: 1px solid var(--medium-gray);
}
