.icon {
  &--hero {
    font-size: 2rem;
  }

  &--skill {
    height: 4rem;
    width: 4rem;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.08);
    }
  }

  &--bullet {
    color: $clr-green;
    font-size: 2rem;
  }
}
