.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;

  @media screen and (max-width: $bp-medium) {
    padding: 2rem 0;
  }

  &__logo {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    display: block;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  &__link {
    &:link,
    &:visited {
      @include resetLink;
      @include hoverLink;
    }

    &:hover,
    &:active {
      background-size: 100% 2px;
    }
  }
}
