@mixin resetLink {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

@mixin hoverLink {
  background-image: linear-gradient(to right, $clr-green, $clr-green-dark);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.3s ease;
}

@mixin flexSmall {
  display: flex;
  gap: 1.2rem;
}
