// Main Colors
$clr-black: #393d3f;
$clr-gray: #4d5052;
$clr-white: #fdfdff;
$clr-green: #62929e;

// Tints & Shades
$clr-gray-light: #d7d8d9;
$clr-green-dark: #45666f;

// Breakpoints

$bp-large: 56.25em; // 900px
$bp-medium: 43.75em; // 700px
$bp-small: 31.25em; // 500px
