// Main Colors
$clr-black: #393d3f;
$clr-gray: #616465;
$clr-white: #fdfdff;
$clr-green: #62929e;

// Breakpoints

$bp-large: 56.25em; // 900px
$bp-medium: 43.75em; // 700px
$bp-small: 31.25em; // 500px
